{% extends 'layout/_layout' %}

{% block content%}
    <section id="shop-featured" class="section section-reverse">
        <div class="container">
            <h1>{{ entry.featuredAddOnArticle }}</h1>
            <div class="featured-container">
                <div class="featured-left">
                    {% set imgUrl = entry.featuredAddOnImage.one().getUrl() %}
                    <img src="{{ imgUrl }}" alt="Reversible dinosaur pluche">
                </div>
                <div class="featured-right">
                    <h2>{{ entry.featuredAddOnTitle }}</h2>
                    <p>{{ entry.featuredAddOnDescription }}</p>
                    <a src="#">{{ entry.featuredAddOnCtaText }}</a>
                </div>
            </div>
        </div>
    </section>

    <section id="shop-main" class="section section-reverse">
        <div class="container">
            <h1>{{ entry.shopItemsTitle }}</h1>
            <div class="shopping-container">

            </div>
            <button class="cta" id="load-more" style="width: 40%; margin: 2rem auto 0 auto;">Load more!</button>
        </div>
    </section>
{% endblock %}

{% block metafooter %}
    {{ parent() }}
    <script src="assets/js/shop.js"></script>
{% endblock %}