<section id="bundle-table" class="section section-reverse">

    {% set bundle = entry.bundle.one() %}
    <div class="container">
        <div class="bundle--header">
            <h1>{{ bundle.matrixTitle }}</h1>
            <h2>{{ bundle.matrixSubtitle }}</h2>
        </div>

        <div class="bundle--table">
            <table>
                {% for row in bundle.tableData %}
                    <tr>

                        {% if loop.index0 == 0 %}
                        
                            <th class="table-empty"></th>
                            <th>
                                {% set se = row.standardEdition | split(';') %}
                                {{ se[0] }}
                                <span class="table--price">{{ se[1] }}</span>
                            </th>
                            <th>
                                {% set ee = row.exclusiveEdition | split(';') %}
                                {{ ee[0] }}
                                <span class="table--price">{{ ee[1] }}</span>
                            </th>

                        {%else%}
                            <td class="table--rowindicator">{{ row.rowData }}</td>

                            {% if row.standardEdition == 'Y' %}
                                <td><i class="fas fa-check"></i></td>
                            {% elseif row.standardEdition == 'N' %}
                                <td></td>
                            {% else %}
                                <td>{{ row.standardEdition }}</td>
                            {% endif %}

                            {% if row.exclusiveEdition == 'Y' %}
                                <td><i class="fas fa-check"></i></td>
                            {% elseif row.exclusiveEdition == 'N' %}
                                <td></td>
                            {% else %}
                                <td>{{ row.exclusiveEdition }}</td>
                            {% endif %}

                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>